.root {

}

.blocks {
  float: left;
  width: 100%;
}

.block {
  border: solid black 1px;
  border-right: none;
  background: red;
  height: 25px;
  float: left;
}

.block:last-child {
  border-right: solid black 1px;
}
